@model string;
@{
    Layout = "_Layout";
}
<div class="bg-primary p-3">
    <h1>Xin chào @Model</h1>
    <p>
        Bạn đang tìm hiểu về View (.cshtml) trong ASP.NET MVC
    </p>
</div>
<i>@this.Path</i>