@using App.Models
@{
    Layout = "_Layout";
    var product = ViewData["product"] as ProductModel;
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-danger text-white">
                    <h1 class="card-header">@product.Name</h1>
                    <div class="card-body">
                        <p class="card-text">
                            Giá: @product.Price
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>