@using App.Models;
@{
    Layout = "_Layout";
    var product = ViewBag.product;
}
<section id="product_info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-warning text-dark">
                    <h1 class="card-header">@product.Name</h1>
                    <div class="card-body">
                        <p class="card-text">
                            Giá: @product.Price
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>