@{
    ViewData["Title"] = "Home Page";
}

<partial name="_AlertMessage" />
<div class="text-center">
    <h1 class="display-4">VXCODE</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Hello wrold !</a>.</p>
</div>
