@page "/aboutrazor.html"
@{
    Layout = "_Layout";
}

<h1>Giới thiệu về Razor</h1>
<pre>
    Razor là 1 template engine trong .NET, nó là 1 template engine mặc định của ASP.NET MVC.ASP
    Razor có chức năng render(dựng) HTML từ các view (.cshtml)
    View(.cshtml) cho phép viết HTML và nhúng mã C#
</pre>